#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#root h1 {
    font-family: sans-serif;
}

button {
    font-size: 15px;
    padding: 10px;
    margin-top: 20px;
    background-color: #34495e;
    color: white;
    cursor: pointer;
}

.default-color {
    color: #34495e;
}

.green {
    color: #41b883;
}